pipeline/data-ingestion-parent-pipeline.json
{
	"name": "data-ingestion-parent-pipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecutePipelineOnPrermToDatalake",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "data-ingestion-onprem-to-datalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecutePipelineGithubToDatalake",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecutePipelineOnPrermToDatalake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "data-ingestion-github-to-datalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"files": {
							"value": "@pipeline().parameters.files",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecutePipelineAzureSqlToDatalake",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecutePipelineGithubToDatalake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "data-ingestion-azuresql-to-datalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SendNotificationViaLogicApp",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecutePipelineAzureSqlToDatalake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://prod-190.westus.logic.azure.com:443/workflows/70a2d74df8b6459c992f37b78063814d/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=_D06e-Jj1cD60QWBHNmNbiSTmrTDbeS6BAS9DzNGzIk",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"run_id\" : \"@{pipeline().RunId}\",\n    \"status\" : \"@{activity('ExecutePipelineAzureSqlToDatalake').Status}\",\n    \"error\" : \"@{if(equals(activity('ExecutePipelineAzureSqlToDatalake').status, 'Failed'), string(activity('ExecutePipelineAzureSqlToDatalake').output.error), 'No Error')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"files": {
				"type": "array",
				"defaultValue": [
					{
						"folder_name": "campaigns",
						"file_name": "dim_campaigns.csv"
					},
					{
						"folder_name": "dates",
						"file_name": "dim_dates.csv"
					},
					{
						"folder_name": "products",
						"file_name": "dim_products.csv"
					},
					{
						"folder_name": "salespersons",
						"file_name": "dim_salespersons.csv"
					},
					{
						"folder_name": "stores",
						"file_name": "dim_stores.csv"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-21T18:03:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}